// Test :: export

@import "true";
@import "../export";

@include test-module("Mixin: export") {
  @include test("should initially output @content") {
    @include assert("outputs passed in @content") {
      @include output {
        @include export(a) {
          margin: 0;
        }
      }
      @include expect {
        margin: 0;
      }
    }
  }

  @include test("should allow additional @content for previously specified key") {
    @include assert("outputs @content") {
      @include output {
        @include export(a) {
          background: pink;
        }
        @include export(a) {
          margin: 0;
        }
      }
      @include expect {
        background: pink;
        margin: 0;
      }
    }
  }


  @include test("should correctly output @content for a new unique key") {
    @include assert("outputs passed in @content") {
      @include output {
        @include export(b) {
          margin: 0;
        }
      }
      @include expect {
        margin: 0;
      }
    }
  }

  @include test("should contain defined key(s) in exports list") {
    $test: map-get($__seed-publish-list, a);
    $expect: false;
    @include assert-equal($test, $expect,
      "Returns the correct value of the key");
  }
}

